<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
        <add name="ADODBConnectionString" connectionString="Data Source=JOANNE-DELL;Initial Catalog=ADODB;User ID=sa;Password=c216"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>