<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ADODBConnectionString" connectionString="Data Source=JOANNE-DELL;Initial Catalog=ADODB;User ID=sa;Password=c216"
            providerName="System.Data.SqlClient" />
        <add name="ADODBConnectionString2" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=ADODB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HOMEWORK-ADO.NET-NUNITConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=HOMEWORK-ADO.NET-NUNIT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
